In [1]:
# Import the modules
import pandas as pd
import numpy as np
from pathlib import Path
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, accuracy_score
from sklearn.model_selection import GridSearchCV

In [2]:
#load csv file into dataframe DataCoSupplyChainDataset_VL.csv from Resources folder
file_path = Path("Resources/DataCoSupplyChainDataset_VL.csv")
sales_df = pd.read_csv(file_path)
sales_df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Delivery Status,Late_delivery_risk,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,...,Order State,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Name,Product Price,shipping date (DateOrders),Shipping Mode,order_date_VL
0,DEBIT,3,4,Advance shipping,0,Sporting Goods,Caguas,Puerto Rico,20755,Consumer,...,Java Occidental,COMPLETE,NaN,1360,73,Smart watch,327.75,2/3/2018 22:56,Standard Class,2018-01-31
1,TRANSFER,5,4,Late delivery,1,Sporting Goods,Caguas,Puerto Rico,19492,Consumer,...,Rajastán,PENDING,NaN,1360,73,Smart watch,327.75,1/18/2018 12:27,Standard Class,2018-01-13
2,CASH,4,4,Shipping on time,0,Sporting Goods,San Jose,EE. UU.,19491,Consumer,...,Rajastán,CLOSED,NaN,1360,73,Smart watch,327.75,1/17/2018 12:06,Standard Class,2018-01-13
3,DEBIT,3,4,Advance shipping,0,Sporting Goods,Los Angeles,EE. UU.,19490,Home Office,...,Queensland,COMPLETE,NaN,1360,73,Smart watch,327.75,1/16/2018 11:45,Standard Class,2018-01-13
4,PAYMENT,2,4,Advance shipping,0,Sporting Goods,Caguas,Puerto Rico,19489,Corporate,...,Queensland,PENDING_PAYMENT,NaN,1360,73,Smart watch,327.75,1/15/2018 11:24,Standard Class,2018-01-13

In [3]:
sales_df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Delivery Status', 'Late_delivery_risk', 'Category Name',
       'Customer City', 'Customer Country', 'Customer Id', 'Customer Segment',
       'Customer State', 'Customer Zipcode', 'Department Id',
       'Department Name', 'Latitude', 'Longitude', 'Market', 'Order City',
       'Order Country', 'Order Customer Id', 'order date (DateOrders)',
       'Order Id', 'Order Item Cardprod Id', 'Order Item Discount',
       'Order Item Discount Rate', 'Order Item Id', 'Order Item Product Price',
       'Order Item Profit Ratio', 'Order Item Quantity', 'Sales',
       'Order Item Total', 'Order Profit Per Order', 'Order Region',
       'Order State', 'Order Status', 'Order Zipcode', 'Product Card Id',
       'Product Category Id', 'Product Name', 'Product Price',
       'shipping date (DateOrders)', 'Shipping Mode', 'order_date_VL'],
      dtype='object')

Unique Order dataframe preparation

In [4]:
#remove rows with "Delivery Status"="Shipping canceled"
sales_df = sales_df[sales_df["Order Status"] != "CANCELED"]

In [5]:
#remove columns 'Days for shipping (real)', 'Late_delivery_risk'
sales_df = sales_df.drop(columns=['Days for shipping (real)', 'Late_delivery_risk'])

In [6]:
# create a new dataframe orders_df listing all unique "Order ID" as index with min "Type", "Days for shipment (scheduled)"
orders_df = sales_df.groupby("Order Id").agg({"Type": "min", "Days for shipment (scheduled)": "min"})
#add columns to orders_df from sales_df with 'Customer Segment', 'Department Id', 'Order Country'
orders_df = orders_df.join(sales_df.groupby("Order Id").agg({"Customer Segment": "min","Market":"min", "Order Country": "min", "Order State":"min",
                                                             "Shipping Mode":"min","Order Region":"min",
                                                             "Order Status":"min"}))
#add columns to orders_df from sales_df with sum of "Order Item Product Price", "Order Item Discount", 'Order Item Quantity',"Order Item Total"
orders_df = orders_df.join(sales_df.groupby("Order Id").agg({"Order Item Product Price": "sum", "Order Item Discount": "sum", "Order Item Quantity": "sum", "Order Item Total": "sum"}))
# add column with number of unique "Product Card Id" per "Order Id"
orders_df["Number of Products"] = sales_df.groupby("Order Id")["Product Card Id"].nunique()
#add column with number of unique "Category Name" per "Order Id"
orders_df["Number of Categories"] = sales_df.groupby("Order Id")["Category Name"].nunique()
#add column with number of unique "Department Name" per "Order Id"
orders_df["Number of Departments"] = sales_df.groupby("Order Id")["Department Name"].nunique()
orders_df.tail()

,Type,Days for shipment (scheduled),Customer Segment,Market,Order Country,Order State,Shipping Mode,Order Region,Order Status,Order Item Product Price,Order Item Discount,Order Item Quantity,Order Item Total,Number of Products,Number of Categories,Number of Departments
Order Id,,,,,,,,,,,,,,,,
77200,TRANSFER,4,Consumer,Pacific Asia,Indonesia,Java Occidental,Standard Class,Southeast Asia,PROCESSING,215.820007,53.959999,1,161.869995,1,1,1
77201,DEBIT,4,Consumer,Pacific Asia,Indonesia,Java Occidental,Standard Class,Southeast Asia,COMPLETE,215.820007,43.160000,1,172.660004,1,1,1
77202,DEBIT,4,Consumer,Pacific Asia,Indonesia,Java Occidental,Standard Class,Southeast Asia,COMPLETE,327.750000,13.110000,1,314.640015,1,1,1
77203,PAYMENT,4,Corporate,Pacific Asia,Indonesia,Java Occidental,Standard Class,Southeast Asia,PENDING_PAYMENT,11.540000,0.630000,1,10.910000,1,1,1
77204,CASH,0,Corporate,Pacific Asia,Australia,Queensland,Same Day,Oceania,CLOSED,39.750000,4.770000,1,34.980000,1,1,1

In [7]:
orders_df.columns

Index(['Type', 'Days for shipment (scheduled)', 'Customer Segment', 'Market',
       'Order Country', 'Order State', 'Shipping Mode', 'Order Region',
       'Order Status', 'Order Item Product Price', 'Order Item Discount',
       'Order Item Quantity', 'Order Item Total', 'Number of Products',
       'Number of Categories', 'Number of Departments'],
      dtype='object')

In [8]:
#change column name "Order Item Total" to "order_total", change column "Order Item Product Price" to "order_original_price", "Order Item Discount" to "order_discount", "Order Item Quantity" to "no_of_items"
orders_df = orders_df.rename(columns={"Order Item Total": "order_total", "Order Item Product Price": "order_original_price", 
                                      "Order Item Discount": "order_discount", "Order Item Quantity": "no_of_items",
                                      "Number of Products": "no_of_unique_items", "Number of Categories": "no_of_unique_categories","Number of Departments": "no_of_unique_departments"})

In [9]:
#add column "fraud" to orders_df - mark status "SUSPECTED_FRAUD" as 1, others as 0
orders_df["fraud"] = np.where(orders_df["Order Status"] == "SUSPECTED_FRAUD", 1, 0)
#drop column "Order Status" column from orders_df
orders_df = orders_df.drop(columns=["Order Status"])
# make "fraud" an integer
orders_df["fraud"] = orders_df["fraud"].astype(int)

DATA CLEANING

In [10]:
#show data type for each column
orders_df.dtypes

Type                              object
Days for shipment (scheduled)      int64
Customer Segment                  object
Market                            object
Order Country                     object
Order State                       object
Shipping Mode                     object
Order Region                      object
order_original_price             float64
order_discount                   float64
no_of_items                        int64
order_total                      float64
no_of_unique_items                 int64
no_of_unique_categories            int64
no_of_unique_departments           int64
fraud                              int32
dtype: object

In [11]:
#dummy code categorical columns
orders_df = pd.get_dummies(orders_df, columns=["Type", "Customer Segment", "Order Country", "Order State", "Shipping Mode", "Market", "Order Region"])
orders_df.head()

,Days for shipment (scheduled),order_original_price,order_discount,no_of_items,order_total,no_of_unique_items,no_of_unique_categories,no_of_unique_departments,fraud,Type_CASH,...,Order Region_South Asia,Order Region_South of USA,Order Region_Southeast Asia,Order Region_Southern Africa,Order Region_Southern Europe,Order Region_US Center,Order Region_West Africa,Order Region_West Asia,Order Region_West of USA,Order Region_Western Europe
Order Id,,,,,,,,,,,,,,,,,,,,,
1,4,299.980011,60.000000,1,239.979996,1,1,1,0,True,...,False,False,False,False,False,False,False,False,False,False
2,4,379.980011,50.600000,7,529.380005,3,3,3,0,False,...,False,False,False,False,False,False,False,False,False,False
4,4,184.960001,78.980000,14,620.870014,4,4,4,0,True,...,False,False,False,False,False,False,False,False,False,False
5,4,839.920029,142.789999,10,987.070007,4,4,2,0,False,...,False,False,False,False,False,False,False,False,False,False
7,2,515.960016,54.400000,7,525.520004,3,3,2,0,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
#show row count
orders_df.count()

Days for shipment (scheduled)    64385
order_original_price             64385
order_discount                   64385
no_of_items                      64385
order_total                      64385
                                 ...
Order Region_US Center           64385
Order Region_West Africa         64385
Order Region_West Asia           64385
Order Region_West of USA         64385
Order Region_Western Europe      64385
Length: 1300, dtype: int64

LOGISTIC REGRESSION - FRAUD PREDICTION MODEL

In [13]:
# Separate the data into labels and features
# Separate the y variable, the labels
y = orders_df["fraud"]

# Separate the X variable, the features
X = orders_df.drop(columns="fraud")

In [14]:
# Review the y variable Series
print(f"Labels: {y[:10]}")

Labels: Order Id
1     0
2     0
4     0
5     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: fraud, dtype: int32

In [15]:
# Review the X variable DataFrame
print(f"Data: {X[:10]}")

Data:           Days for shipment (scheduled)  order_original_price  order_discount  \
Order Id
1                                     4            299.980011       60.000000
2                                     4            379.980011       50.600000
4                                     4            184.960001       78.980000
5                                     4            839.920029      142.789999
7                                     2            515.960016       54.400000
8                                     4            219.960003      142.070000
9                                     4            499.970009       12.000000
10                                    4            601.940016      126.150000
11                                    4            299.930000       72.990000
12                                    4            524.950008      103.490000

          no_of_items  order_total  no_of_unique_items  \
Order Id
1                   1   239.979996                   1
2                   7   529.380005                   3
4                  14   620.870014                   4
5                  10   987.070007                   4
7                   7   525.520004                   3
8                  13   587.770004                   3
9                   4   587.960007                   2
10                  6   525.770010                   4
11                 15   846.800003                   4
12                 18  1196.380005                   5

          no_of_unique_categories  no_of_unique_departments  Type_CASH  \
Order Id
1                               1                         1       True
2                               3                         3      False
4                               4                         4       True
5                               4                         2      False
7                               3                         2      False
8                               3                         3      False
9                               2                         2      False
10                              4                         3      False
11                              4                         4      False
12                              5                         4       True

          Type_DEBIT  ...  Order Region_South Asia  \
Order Id              ...
1              False  ...                    False
2              False  ...                    False
4              False  ...                    False
5               True  ...                    False
7               True  ...                    False
8              False  ...                    False
9              False  ...                    False
10             False  ...                    False
11             False  ...                    False
12             False  ...                    False

          Order Region_South of  USA   Order Region_Southeast Asia  \
Order Id
1                               False                        False
2                               False                        False
4                               False                        False
5                               False                        False
7                               False                        False
8                               False                        False
9                               False                        False
10                              False                        False
11                              False                        False
12                              False                        False

          Order Region_Southern Africa  Order Region_Southern Europe  \
Order Id
1                                False                         False
2                                False                         False
4                                False                         False
5                                False                         False
7                                False                         False
8                                False                         False
9                                False                         False
10                               False                         False
11                               False                         False
12                               False                         False

          Order Region_US Center   Order Region_West Africa  \
Order Id
1                           False                     False
2                           False                     False
4                           False                     False
5                           False                     False
7                           False                     False
8                           False                     False
9                           False                     False
10                          False                     False
11                          False                     False
12                          False                     False

          Order Region_West Asia  Order Region_West of USA   \
Order Id
1                          False                      False
2                          False                      False
4                          False                      False
5                          False                      False
7                          False                      False
8                          False                      False
9                          False                      False
10                         False                      False
11                         False                      False
12                         False                      False

          Order Region_Western Europe
Order Id
1                               False
2                               False
4                               False
5                               False
7                               False
8                               False
9                               False
10                              False
11                              False
12                              False

[10 rows x 1299 columns]

In [16]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train.shape

(48288, 1299)

In [17]:
X_test.shape

(16097, 1299)

In [18]:
#concatenate our training data back together
train_data = pd.concat([X_train, y_train], axis=1)

In [19]:
#Create a logistic regression model
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model with class weight to handle imbalance in the dataset
classifier = LogisticRegression(max_iter=10000)


# Fit the model using scaled training data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

In [20]:
from sklearn.calibration import CalibratedClassifierCV

# Instantiate the calibrated classifier with sigmoid calibration
calibrated_clf = CalibratedClassifierCV(classifier, method='sigmoid', cv='prefit')

# Fit the calibrated classifier using the validation data (you might need to split your data again)
calibrated_clf.fit(X_train, y_train)

CalibratedClassifierCV(cv='prefit',
                       estimator=LogisticRegression(max_iter=10000))

In [21]:
# Get calibrated probabilities
calibrated_probs = calibrated_clf.predict_proba(X_test)

# Predict labels (if needed)
calibrated_preds = calibrated_clf.predict(X_test)

In [22]:
from sklearn.metrics import accuracy_score, log_loss

print("Accuracy: ", accuracy_score(y_test, calibrated_preds))
print("Log loss: ", log_loss(y_test, calibrated_probs))

Accuracy:  0.9766416102379325
Log loss:  0.0823720268251395

In [23]:
# Make a prediction using the testing data with the calibrated classifier
calibrated_predictions = calibrated_clf.predict(X_test)

pd.DataFrame({"Prediction": calibrated_predictions, "Actual": y_test})

          Prediction  Actual
Order Id
68286              0       0
44031              0       0
50283              0       0
27559              0       0
36548              0       0
...              ...     ...
47422              0       0
52678              0       0
71231              0       0
9763               0       0
48292              0       0

[16097 rows x 2 columns]

In [24]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Generate a confusion matrix for the model
confusion_matrix(y_test, calibrated_predictions)

array([[15721,     4],
       [  372,     0]], dtype=int64)

In [25]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, calibrated_predictions)
cm_df = pd.DataFrame(
    cm, index=["Legitemate [0]", "Fraud [1]"], columns=["Legitemate [0]", "Fraud [1]"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, calibrated_predictions)

# Display results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, calibrated_predictions))

Confusion Matrix

                Legitemate [0]  Fraud [1]
Legitemate [0]           15721          4
Fraud [1]                  372          0

Accuracy Score : 0.9766416102379325
Classification Report
              precision    recall  f1-score   support

           0       0.98      1.00      0.99     15725
           1       0.00      0.00      0.00       372

    accuracy                           0.98     16097
   macro avg       0.49      0.50      0.49     16097
weighted avg       0.95      0.98      0.97     16097

Random forest - to determine feature importance

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [27]:
# Define features set
X = orders_df.copy()
X.drop('fraud', axis=1, inplace=True)
X.head()

,Days for shipment (scheduled),order_original_price,order_discount,no_of_items,order_total,no_of_unique_items,no_of_unique_categories,no_of_unique_departments,Type_CASH,Type_DEBIT,...,Order Region_South Asia,Order Region_South of USA,Order Region_Southeast Asia,Order Region_Southern Africa,Order Region_Southern Europe,Order Region_US Center,Order Region_West Africa,Order Region_West Asia,Order Region_West of USA,Order Region_Western Europe
Order Id,,,,,,,,,,,,,,,,,,,,,
1,4,299.980011,60.000000,1,239.979996,1,1,1,True,False,...,False,False,False,False,False,False,False,False,False,False
2,4,379.980011,50.600000,7,529.380005,3,3,3,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4,184.960001,78.980000,14,620.870014,4,4,4,True,False,...,False,False,False,False,False,False,False,False,False,False
5,4,839.920029,142.789999,10,987.070007,4,4,2,False,True,...,False,False,False,False,False,False,False,False,False,False
7,2,515.960016,54.400000,7,525.520004,3,3,2,False,True,...,False,False,False,False,False,False,False,False,False,False

In [28]:
# Define target vector
y = orders_df["fraud"].values.reshape(-1, 1)
y[:5]

array([[0],
       [0],
       [0],
       [0],
       [0]])

In [29]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [30]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [31]:
# Fit the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

In [32]:
# Scale the training data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
# Create the random forest classifier instance
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [34]:
# Fit the model and use .ravel()on the "y_train" data. 
rf_model = rf_model.fit(X_train_scaled, y_train.ravel())

In [35]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [36]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Legitemate [0]", "Fraud [1]"], columns=["Legitemate [0]", "Fraud [1]"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [38]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

                Legitemate [0]  Fraud [1]
Legitemate [0]           15744         14
Fraud [1]                  337          2

Accuracy Score : 0.9781946946636019
Classification Report
              precision    recall  f1-score   support

           0       0.98      1.00      0.99     15758
           1       0.12      0.01      0.01       339

    accuracy                           0.98     16097
   macro avg       0.55      0.50      0.50     16097
weighted avg       0.96      0.98      0.97     16097

In [39]:
# Get the feature importance array
importances = rf_model.feature_importances_
# List the top 10 most important features
importances_sorted = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
importances_sorted[:10]

[(0.12631293806324706, 'order_total'),
 (0.12514082872069182, 'order_discount'),
 (0.11090539077467063, 'order_original_price'),
 (0.07586052856900881, 'no_of_items'),
 (0.044956687579230756, 'Type_TRANSFER'),
 (0.03171964652016625, 'no_of_unique_departments'),
 (0.030268778379350957, 'no_of_unique_categories'),
 (0.02997148263191789, 'no_of_unique_items'),
 (0.0217026694344422, 'Days for shipment (scheduled)'),
 (0.020892859287835727, 'Customer Segment_Consumer')]